.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 230px;
    height: 300px;
    border: 2px solid red;
    margin-left: 450px;
    margin-top: 100px;
    position: relative;
}

.btn{
    width: 6rem;
    height: 2rem;
    background-color: #ff1919;
    border: 1px double #9aff88;
    cursor: pointer;
    position: absolute;
    margin-top: 70px;
    right: 60px;
}