.conteiner {
    background-color: red;
    width: 1000px;
    height: 250px;
    flex-direction: row;
    align-items: center;
    display: flex;
    margin-top: 300px;
    margin-left: 300px;
}

.conteiner-item {
    width: auto;
    height: auto;
    background-color: blue;
}

.slika{
    width: 300px;
    height: 200px;
}

.paragraf{
    width: 200px;
    height: 100px;
    margin-left: 15px;
}